.u-ml {
  margin-left: 2rem;
}
.u-mr {
  margin-right: 2rem;
}

.u-text-decoration-none {
  text-decoration: none;
}

.u-btn {
  &:hover {
    transform: scale(1.012);
  }
  &:active,
  &:target {
    transform: scale(1-0.015);
  }
}
