.u-ml {
  margin-left: 2rem;
}
.u-mr {
  margin-right: 2rem;
}

.u-text-decoration-none {
  text-decoration: none;
}

.u-btn {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.012);
  }
  &:active,
  &:target {
    transform: scale(1-0.015);
  }
}

#u-bg-black {
  background-color: black;
}
